.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.row-container {
  border: solid white 1px;
}

.box {
  height: 50px;
  width: 50px;
  position: relative;

  animation-name: slide;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes slide {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 50px);
  }
}
